.video {
   position: relative;
}

.video .btn {
   display: block;
}

.video-card {
   position: relative;
}

.video-remove {
   display: none;
   position: absolute;
   top: 5px;
   right: 2px;
   z-index: 10;
   cursor: pointer;
   width: 1.4rem;
   height: 1.4rem;
   line-height: 0.9;
   text-align: center;
   font-size: 1.5em;
   border-radius: 50%;
   color: #2d3133;
   background-color: #fff;
}

.video-card:hover .video-remove {
   display: block;
}

.video .btn-circle {
   background-color: rgba(255, 255, 255, 0);
   padding: 0;
   font-size: 1rem;
   border: none;
   color: #3c3c3c;
   width: 1.5rem;
   height: 1.5rem;
}

.video .btn-circle:hover {
   color: #ff1f21;
}
