.navbar {
   background-color: #2d3133;
}

.container-nav {
   padding-bottom: 6rem;
}

.navbar .nav-item:not(:last-of-type) {
   margin-right: 1.2rem;
}

.navbar-sm {
   position: fixed;
   width: 100%;
   z-index: 2;
   background-color: #2d3133;
}

.navbar-brand {
   display: flex;
   align-items: center;
}

#navbar-logo {
   width: 30px;
   height: 30px;
   margin-right: 0.3rem;
}

#nav-item-sidebar {
   margin-right: 0rem;
}

@media (min-width: 840px) {
   .container-nav {
      padding-bottom: 3rem;
   }

   .navbar {
      margin-top: 0;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .navbar-md {
      position: fixed;
      width: 100%;
      z-index: 2;
   }
}
